/* tabela */
.table-spacer table {
    border-collapse: collapse;
    width: 100%;
}

.table-spacer th, .table-spacer td {
    border: 1px solid black;
    padding: 8px;
}

.table-spacer {
    margin-left: 25px; 
}

.navbar-toggler {
    margin-left: 10px;
}


/* classe spacer que eu criei pra ficarem padrão*/

.spacer {
    padding: 10px 0 0 25px;
}

/*Navbar e footer*/

.navbar-custom {
    background-color: #286984 !important;
}

.navbar-brand {
    padding-left: 10px;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.bg-footer {
    background-color: #023246 !important;
    color: white !important;
}

.bg-footer a {
    color: white !important;
}

/*Borda do formulario*/

.form-container {
    border-radius: 10px;
    border: 3px solid #286984; 
    background-color: lightgray; 
    max-width: 300px; 
    margin-left: 25px; 
 
}


@media (max-width: 768px) {
    .joinha {
        width: 60% !important; 
    }
}